#listing_title {
		display : none;
}

label[for=listing_title]{
		display : none;
}

#info-text-container{
		display : none;
}


.home-fluid-thumbnail-grid-author{
		display: none;
}


.fluid-thumbnail-grid-image-title{
		display:none;
}

.listing-author{
		display:none;
}



































                                              





















                                              